<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>


<!-- code will start again soon -->
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }

    .nav-wrapper{
        background: white;
    }
    .nav-links li a {
        color: black;
        text-decoration: none;
    }
</style>

<body>



    <nav class="">
        <div class="wrapper max-w-[1250px] bg-white">
            <div class="logo">
                <a class="" href="#">WESHOP</a>
            </div>

            <ul class="nav-links">
                <li><a c href="#">Man</a></li>
                <li><a href="#">Women</a></li>
                <li><a href="#">Kids</a></li>
                <li><a href="#">More</a></li>
            </ul>

            <div></div>
        </div>
    </nav>



</body>

</html>