<div class="first-swiper swiper max-w-full h-screen relative">
    <div class="swiper-wrapper">
      <!-- Slide 1 -->
      <div class="swiper-slide relative">
        <video class="video-bg" autoplay muted loop>
          <source src="assets/videos/header_bg.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
        <div class="overlay"></div>
        <div class="absolute inset-0 flex flex-col justify-center items-start slide-content gap-6 md:gap-8 px-8 md:px-24 lg:px-36">
          <h1 class="banner-sub-heading text-5xl md:text-6xl lg:text-7xl text-white font-bold mb-2">Classic</h1>
          <h1 class="banner-sub-heading-2 text-6xl md:text-7xl lg:text-8xl font-bold leading-tight">Fashion</h1>
          <p class="text-lg md:text-xl lg:text-2xl font-poppins text-white max-w-lg">
            Fashion Stories That Embody Your Unique Journey<br>
            and Evolve with You, Style with Us.
          </p>
          <button class="px-4 py-2 font-poppins banner-btn bg-[#192434] hover:bg-blue-700 text-white font-bold w-auto h-12 flex items-center">
            Explore Collection <span class="ml-2 text-3xl">&rarr;</span>
          </button>
        </div>
      </div>
      <!-- Additional slides go here -->
    </div>
    <div class="swiper-pagination first-swiper-pagination"></div>
  </div>
  